html, body {
  margin: 0;
  padding: 0;
  /*background: #242627;*/
  background: #FFF;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Roboto', Arial, sans-serif;
  color: #FFF;
}

::selection {
  background: rgba(86, 128, 133, 0.9);
  color: #F5F5F5;
}

main {
  min-height: calc(100vh - 3px);
  top: 0;
  position: absolute;
  width: 100%;
}



.hidden {
  display: none;
}

.animate {
  opacity: 0;
  transform: translateY(0.7em);
}

.animate-queue {
  opacity: 0;
  transform: translateY(0.7em);
}

.fade-in-and-up {
  opacity: 1;
  transform: translateY(-0.7em);
  transition: opacity 0.6s, transform 0.6s;
}
