html, body {
  margin: 0;
  padding: 0;
  /*background: #242627;*/
  background: #FFF;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Roboto', Arial, sans-serif;
  color: #FFF;
}

::selection {
  background: rgba(86, 128, 133, 0.9);
  color: #F5F5F5;
}

.pattern {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0.8;

}

main {
  min-height: calc(100vh - 3px);
  top: 0;
  position: absolute;
  width: 100%;
}

.intro {
  width: 100%;
  height: calc(100vh - 3px);
  border-top: 3px solid #568085;
  background:  url('../images/overlay.png') repeat, url('../images/background.jpg') center bottom no-repeat;
}

.intro-content {
  height: 468px;
  margin-top: calc(100vh - 468px - 232px);
  text-align: center;
}

.me {
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  border: 5px solid #FFF;
}

.name {
  font-size: 3.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  flex: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

.divider {
  width: 300px;
  background: #568085;
  height: 1px;
  margin: auto;
}

.title {
  text-align: center;
  color: #CCC;
  font-size: 1.5rem;
}

.icons {
  color: #FFF;
  font-size: 2.5em;
  list-style-type: none;
  max-width: 256px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  max-height: 64px;
}

li {
  display: inline-flex;
  height: 64px;
  width: 64px;
}

a {
  color: #FFF;
  text-decoration: none;
}

.social-icon {
  transition: transform 0.05s;
}

.social-icon:hover {
  transform: scale(1.1,1.1);
}

.facebook {
  background: #3b5998;
}

.twitter {
  background: #00aced;
}

.linkedin {
  background: #007bb5;
}

.github {
  background: #000;
}

.fa-center {
  padding-left: 14.6px;
  padding-top: 13px;
}

.btn-down {
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  /* background: #568085; */
  background-color: rgba(255,255,255,0.2);
  border: none;
  font-size: 2rem;
  color: #F5F5F5;
  outline: none;
  position: absolute;
  bottom: 3rem;
  margin-left: calc(50% - 1.5rem);
  cursor: pointer;
  transition: transform 0.05s;
}

.btn-down:hover {
  transform: scale(1.1,1.1);
}

/**
 * Portfolio
 */
.portfolio {
  min-height: 100vh;
  width: 100%;
  transition: height 0.05s;
  position: absolute;

  .title {
    font-size: 2.1rem;
    letter-spacing: 1rem;
    font-weight: 300;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #333;
    margin-top: 3rem;
    text-transform: uppercase;
  }


  .list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;

    .item {
      width: 20rem;
      height: 12rem;
      background-color: #F5F5F5;
      display: inline;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      transition: transform 0.5s;
      cursor: pointer;
      margin: 1rem;
      box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.3);

      .details {
        width: 100%;
        height: 100%;
        background: url('../images/overlay.png');
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        &:hover {
          opacity: 1;
        }

        h3 {
          padding: 0;
          margin: 0;
          font-size: 1.5em;
          font-family: 'Oswald';
          font-weight: 300;
          text-align: center;
          padding-top: calc(4.7em - 1.5em);
        }

      }

      &:hover {
        transform: scale(1.1,1.1);
      }

    }

  }

}


.hidden {
  display: none;
}

.animate {
  opacity: 0;
}
