<section class="home">
    <div class="intro">
        <h2>Hello, my name is Chris Rabuse</h2>
        <p>I am a <strong>Full Stack Developer</strong> and UI/UX design enthusiast.</p>
        <p>Check out my latest projects over at my <strong routerLink="projects" class="special-link">projects page.</strong></p>
        <p>Feel free to take a look at my work experiance on my <strong routerLink="work" class="special-link">work page.</strong></p>
        <p>Also you can say hello at <strong><a href="mailto:me@chrisrabuse.com" class="special-link">me@chrisrabuse.com</a></strong></p>
    </div>
</section>
