<section class="home">
    <div class="intro">
        <h2>Hello, my name is Chris Rabuse</h2>
        <p>I am a <strong>Full Stack Developer</strong> and UI/UX design enthusiast.</p>
        <p>Check out my latest projects over at my <strong routerLink="projects">projects page.</strong></p>
        <p>Feel free to take a look at my work experiance on my <strong routerLink="work">work page.</strong></p>
        <p>Also you can say hello at <strong>me@chrisrabuse.com</strong></p>
    </div>
</section>
