@import "~normalize.css/normalize";

html, body {
    background: #2A2A2A;
    color: #999;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    letter-spacing: 0.01rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #DDD;
    font-weight: 700;
}

strong {
    color: #BBB;
}

.navigation {
    font-weight: 700;
    font-size: 0.8rem;
    color: #DDD;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    justify-content: center;
    list-style-type: none;
    margin: 0 0 3rem 0;
    padding: 2.5rem 0 0 0;
    letter-spacing: 0.163rem;
    user-select: none;

    li {
        display: inline;
        padding: 0.2rem 1rem;
        cursor: pointer;
    }
}

.home {
    height: calc(100vh - 6.75rem);
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro {
    text-align: center;
    margin-top: -6.75rem;

    p {
        line-height: 0.8rem;
    }
}

*[routerLink] {
    cursor: pointer;
}