html, body {
  margin: 0;
  padding: 0;
  background: #242627;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  border-top: 3px solid #568085;
  font-family: 'Roboto', Arial, sans-serif;
  color: #FFF;
}

.pattern {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 0.8;

}

main {
  min-height: 100vh;
  top: 0;
  position: absolute;
  width: 100%;
}

.me {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #FFF;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
}

.name {
  font-size: 60px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  flex: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

.divider {
  width: 300px;
  background: #568085;
  height: 1px;
  margin: auto;
}

.title {
  text-align: center;
  color: #CCC;
}

.icons {
  color: #FFF;
  font-size: 2.5em;
  list-style-type: none;
  max-width: 256px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  max-height: 64px;
}

li {
  display: inline-flex;
  height: 64px;
  width: 64px;
}

a {
  color: #FFF;
  text-decoration: none;
}

.facebook {
  background: #3b5998;
}

.twitter {
  background: #00aced;
}

.linkedin {
  background: #007bb5;
}

.github {
  background: #000;
}

.fa-center {
  padding-left: 14.6px;
  padding-top: 13px;
}
