@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&subset=latin-ext');

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  // font-feature-settings: "kern" 1, "liga" 1, "swsh" 1;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  color: #212529;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  font-weight: 600;
}


#intro {
  width: 100%;
  height: 40rem;
  padding: 0 10rem 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3.8rem;
    line-height: 7rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-align: center;
  }
}

#bio {
  width: 100%;
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212529;
  color: #f8f9fa;
  text-align: center;

  .content {
    max-width: 57rem;
    line-height: 2rem;
  }
}

.skew {
  transform: skew(0, -10deg);
}

.unskew {
  transform: skew(0, 10deg);
}

.project {
  margin-top: -0.04rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #343a40;
  color: #f8f9fa;
  padding: 10rem;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .description {
    max-width: 31.2rem;
    line-height: 2rem;
    margin-left: 3rem;

    h2 {
      margin-bottom: 1rem;
      margin-top: 0;
    }
  }

  .preview {
    max-width: 31.2rem;
    border-radius: 0.5rem;
    box-shadow: 6px 24px 61px -12px rgba(0, 0, 0, 0.49);
    height: auto;
    width: 100%;
  }
}

.project-light {
  background: #f8f9fa;
  color: #212529;
}

.project-reversed {
  .description {
    margin-left: 0;
    margin-right: 3rem;
  }
}

.button {
  background: none;
  border: 2px solid #212529;
  text-align: center;
  text-transform: uppercase;
  color: #212529;
  padding: 0.9rem 1.5rem 0.8rem 1.5rem;
  outline: none;
  cursor: pointer;

  &:hover {
    background: #212529;
    color: #f8f9fa;
  }
}

.button-light {
  border-color: #f8f9fa;
  color: #f8f9fa;

  &:hover {
    background: #f8f9fa;
    color: #212529;
  }
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: initial;
}

footer {
  margin-top: 9.2rem;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  color: #868e96;

  a {
    text-decoration: none;
    color: #212529;
    // border-bottom: 1px solid #868e96;
  }
}

@media screen and (max-width: 1365px) {

  .project {
    padding: 10rem 20rem;

    .description {
      text-align: center;
      margin-top: 3rem;
      margin-left: 0;
      margin-right: 0;
      width: 100%;

      p {
        text-align: start; 
      }
    }
  }

  .mobile-only {
    display: initial;
  }

  .desktop-only {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  #intro {
    padding: 4rem;

    h1 {
      font-size: 1.8rem;
      line-height: 4rem;
    }
  }

  #bio {
    padding: 8rem 2rem;
  }

  .project {
    padding: 8rem 2rem;

    .description {
      text-align: center;
      margin-top: 3rem;
      margin-left: 0;
      margin-right: 0;

      p {
        text-align: start; 
      }
    }
  }

  .mobile-only {
    display: initial;
  }

  .desktop-only {
    display: none;
  }
}
